NODERED_JSON_FLOW/flows (2).json
[{"id":"61854a0a.e76f24","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"abc42cc6.c93ff","type":"function","z":"61854a0a.e76f24","name":"PreToken","func":"global.set(\"ye\",msg.payload.ye)\nvar apikey=\"6Cm8A_lw4rjKktw89TKzscULqTG3lPFs2AdHsRVzjuXr\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":500,"wires":[["b19130e7.a9e1a"]]},{"id":"b19130e7.a9e1a","type":"http request","z":"61854a0a.e76f24","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":1130,"y":540,"wires":[["bb84425d.fc3df"]]},{"id":"c0f3c5b5.8cb558","type":"inject","z":"61854a0a.e76f24","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":460,"wires":[["abc42cc6.c93ff"]]},{"id":"55ac2c4a.481704","type":"debug","z":"61854a0a.e76f24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1670,"y":440,"wires":[]},{"id":"bb84425d.fc3df","type":"function","z":"61854a0a.e76f24","name":"Pre Prediction","func":"var ye = global.get('ye')\nvar token=msg.payload.access_token\nvar instance_id=\"0b4c9c9e-4f13-42c2-aabe-cf2905264236\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"PriceIndex\"], \"values\": [[ye]]}\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":500,"wires":[["c4e65a55.d7a098"]]},{"id":"c4e65a55.d7a098","type":"http request","z":"61854a0a.e76f24","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/0b4c9c9e-4f13-42c2-aabe-cf2905264236/deployments/9411e4ec-68bf-4280-a0d3-757eb63504a2/online","tls":"","persist":false,"proxy":"","authType":"","x":1430,"y":440,"wires":[["a5f71ba1.5e68c8"]]},{"id":"a5f71ba1.5e68c8","type":"function","z":"61854a0a.e76f24","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":500,"wires":[["55ac2c4a.481704","5c3bc85a.74dfb8"]]},{"id":"222494f7.14feec","type":"function","z":"61854a0a.e76f24","name":"","func":"msg.payload= msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":640,"wires":[["70e54e32.a9883","31e00036.d5d52"]]},{"id":"86a4e54c.6bc738","type":"function","z":"61854a0a.e76f24","name":"","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.url=\"https://www.messengerpeople.com/wp-content/uploads/2020/03/who-chatbot-corona.png\"\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":680,"wires":[["79cc6fbb.1ecc5","febc1403.ab0698","97545820.b16bd8","5bb2af78.abe2a"]]},{"id":"79cc6fbb.1ecc5","type":"debug","z":"61854a0a.e76f24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1350,"y":840,"wires":[]},{"id":"31e00036.d5d52","type":"watson-conversation-v1","z":"61854a0a.e76f24","name":"","workspaceid":"4fd96c29-70d4-4977-94f3-1ce206d531cb","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/c4db9cfd-8040-40f1-8e2d-842d74dfc1ad","timeout":"","optout-learning":false,"x":1120,"y":760,"wires":[["86a4e54c.6bc738","79cc6fbb.1ecc5"]]},{"id":"d5246663.cc6e68","type":"ui_form","z":"61854a0a.e76f24","name":"","label":"","group":"eb75b561.e32498","order":0,"width":"6","height":"13","options":[{"label":"Enter The Period","value":"year-mo","type":"number","required":true,"rows":null}],"formValue":{"year-mo":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"NOTE: Please Input The Date In The Format YEAR_MO( 201204)","x":830,"y":540,"wires":[["abc42cc6.c93ff"]]},{"id":"179560b.084e59f","type":"ui_form","z":"61854a0a.e76f24","name":"","label":"","group":"c45c286e.f707a8","order":0,"width":"6","height":"10","options":[{"label":"Enter your Query","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"Ok!","cancel":"No!","topic":"This Bot Will Help you to go through this Dashboard","x":830,"y":620,"wires":[["222494f7.14feec"]]},{"id":"5c3bc85a.74dfb8","type":"ui_text","z":"61854a0a.e76f24","group":"eb75b561.e32498","order":1,"width":"0","height":"0","name":"","label":"PRICE INDEX FOR A PERIOD","format":"{{msg.payload}}","layout":"col-center","x":1730,"y":540,"wires":[]},{"id":"70e54e32.a9883","type":"ui_text","z":"61854a0a.e76f24","group":"c45c286e.f707a8","order":2,"width":"6","height":"3","name":"","label":"Reply","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":800,"wires":[]},{"id":"5bb2af78.abe2a","type":"ui_text","z":"61854a0a.e76f24","group":"c45c286e.f707a8","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1510,"y":800,"wires":[]},{"id":"97545820.b16bd8","type":"ui_audio","z":"61854a0a.e76f24","name":"","group":"c45c286e.f707a8","voice":"en-US","always":true,"x":1520,"y":720,"wires":[]},{"id":"69f8c478.f2bfbc","type":"ui_template","z":"61854a0a.e76f24","group":"1874555d.1562cb","name":"intro tab","order":0,"width":0,"height":0,"format":"<!DOCTYPE html> \n<html> \n<head>  \n    <style> \n        .image_left { \n            float: left;\n\t    clear: left;\n\t    margin-right: 10px;\n\t    margin-bottom: 5px;\n\t    border: solid black 1px;\n            padding: 2px; \n        } \n\t.image_right { \n            float: right;\n\t    clear: right;\n\t    margin-left: 10px;\n\t    margin-bottom: 5px;\n\t    border: solid black 1px;\n            padding: 2px; \n        }\n    </style> \n</head> \n   \n<body> \n<center><u><b><h1>ABOUT THE PROJECT</h1></b></u></center>\n<center><h2>The Food Indices And Covid 19</h2></center>\n\n<img alt=\"FOOD PRICE VISUAL\" src=\"https://www.ifpri.org/sites/default/files/Topic/food_prices.jpg\"\n         width=\"30\" height=\"25\" class=\"image_left\">\n<p style=\"font-size:160%;\">Countries with existing humanitarian crisis are particularly exposed to the effects of the COVID-19 pandemic. \n Even as their own domestic needs may be rising as a result of the pandemic, \n it is critical that donor countries ensure continued delivery of humanitarian assistance where food insecurity is already high. \n The disease does not recognize borders.\n If left unchecked in one place, the entire human community remains at risk</p>\n\n<img alt=\"IMPACT ON FOOD\" src=\"https://www.foodbusinessnews.net/ext/resources/2020/3/CoronavirusIngredients_Lead.jpg?1583416478\" \n         width=\"30\" height=\"25\" class=\"image_right\">\n<p style=\"font-size:160%;\">For this reason it is important to keep track of the three factors important for food supply,\n for which we are going to use FFPI. The FAO Food Price Index (FFPI) is a measure of the monthly change in international prices of a basket of food commodities. \nIt consists of the average of five commodity group price indices weighted by the average export shares of each of the groups over a period.We are going to implement the use of \nthe price index and compare it with the effect of Lockdown due to Corona Virus Worldwide.</p>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":920,"y":900,"wires":[[]]},{"id":"58467fa3.5ae38","type":"ui_template","z":"61854a0a.e76f24","group":"eb75b561.e32498","name":"back tab","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<center><b><h4>Average Food Price Index Reference</h4></b></center>\n<style>\n    body{\n\tbackground-image: url(\"https://wallpaperplay.com/walls/full/d/9/7/67261.jpg\");\n\tbackground-size: cover;\n\tbackground-repeat: no-repeat;\n\t}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":1200,"y":380,"wires":[[]]},{"id":"febc1403.ab0698","type":"ui_template","z":"61854a0a.e76f24","group":"c45c286e.f707a8","name":"","order":5,"width":"0","height":"0","format":"<img ng-src={{msg.url}} alt=\"Image\">\n<center><h1><b>This Is Team_twin CHATBOT</b></h1></center>\n<style>\n    body{\n\tbackground-image: url(\"https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60\");\n\tbackground-size: cover;\n\tbackground-repeat: no-repeat;\n\t\n\t}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1440,"y":640,"wires":[[]]},{"id":"715160b4.9bd72","type":"ui_template","z":"61854a0a.e76f24","group":"c45c286e.f707a8","name":"back image","order":10,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<h3>test</h3>\n<style>\n    body{\n\tbackground-image: url(\"https://images.unsplash.com/photo-1527352675495-d54e8f102689?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80\");\n\tbackground-size: cover;\n\tbackground-repeat: no-repeat;\n\t}\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","x":930,"y":380,"wires":[[]]},{"id":"98bfbbb0.853708","type":"ui_template","z":"61854a0a.e76f24","group":"c814d9ce.b291e8","name":"overview ","order":0,"width":0,"height":0,"format":"<!DOCTYPE html> \n<html> \n   \n<head>  \n    <style> \n        .aligned { \n            display: flex; \n            align-items: center; \n        } \n           \n        span { \n            padding: 10px; \n        } \n\t\n    </style> \n</head> \n<style>\n    body{\n\tbackground-image: url(\"https://www.elsevier.com/__data/assets/image/0006/974328/coronavirus-image-iStock-628925532-1200px.jpg\");\n\tbackground-size: cover;\n\tbackground-repeat: no-repeat;\n\tbackground-size: 100% 100%;\n\t}\n</style>  \n<body> \n<center><u><b><h1>OVERVIEW OF THE PROJECT</h1></b></u></center>\n<justified><h3> The Team made the project about the Impact on food security due to the unalarming pandemic all over the world spreading with huge grasp.It is of utmost importance to study the food data and interpret with it the observed data after pandemic.\nThus we could be aware of any affected portion if any in the production, supply , utilization of food trade worldwide. People all over the world will surely face a recesson and hence there will be scarcity of the available food. Getting alarmed throgh facts \nwill help the government to take any action and be prepared of any circumstances in the future(if Any).</h3></center></justified>\n<p>*All the sources of the dashboard are authentic and depicts original values for the observed dataset. </p>\n<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<p>\n<div class=\"aligned\"> \n        <a href><img src=\"http://www.fao.org/fileadmin/user_upload/food_systems/images/large_Urban-gardens.jpg\"  width=\"400\" height=\"350\" alt=\"Prod-Vs-Material-detail\" ></a>\n\t</a> \n              \n        <span style=\"font-size:25px\">With advancement and introduction of machine learning tools it is clearly possibke to predict any future downfall or increase in demand suupply or \nutilization. The project aim revolves around evry possible way to make a clear understanding of the visual data and compare the predicted data wuth actual data.</span> \n    </div> \n<center><p> For further more detail visit the following link below:</p></center>\n<center><a href=\"http://www.fao.org/home/en\">Visit FAOSAT for knowing more about the scenario !</a></center>\n</body> \n  \n</html> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1060,"y":900,"wires":[[]]},{"id":"fdd5c3d8.82d64","type":"ui_template","z":"61854a0a.e76f24","group":"e4ad922a.a1eba","name":"about","order":1,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<html>\n<head>\n<style> \n        .aligned { \n            display: flex; \n            align-items: center; \n        } \n           \n        span { \n            padding: 10px; \n        } \n.container {\n  position: relative;\n  width: 50%;\n}\n\n.image {\n  opacity: 1;\n  display: block;\n  width: 100%;\n  height: auto;\n  transition: .5s ease;\n  backface-visibility: hidden;\n}\n\n.middle {\n  transition: .5s ease;\n  opacity: 0;\n  position: absolute;\n  top: 50%;\n  left: 50%;\n  transform: translate(-50%, -50%);\n  -ms-transform: translate(-50%, -50%)\n}\n\n.container:hover .image {\n  opacity: 0.3;\n}\n\n.container:hover .middle {\n  opacity: 1;\n}\n\n.text {\n  background-color: #4CAF50;\n  color: white;\n  font-size: 16px;\n  padding: 16px 32px;\n}\n    </style> \n</head> \n<body>\n<h1><b><u>About The Team</u><b></h1>\n<h3>We are a team of enthusiast students from West Bengal trying to learn and implement through several projects. We are devoted to implement our ideas in a well mannered way and\nhelp the world with something needful.</h3>\n<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<p>\n<div class=\"aligned\"> \n<div class=\"container\">\n        <a href><img src=https://media-exp1.licdn.com/dms/image/C5603AQHp7B7HOU3YSg/profile-displayphoto-shrink_200_200/0?e=1600300800&v=beta&t=KyXJO0aKW1uKW7CAq-9mL4zHsN6PfbZEjhfC0GW_Dqs  width=\"200\" height=\"200\" class=\"image\" style=\"width:100%\"></a>\n<div class=\"middle\">\n<div class=\"text\">Srijani Bhattacharjee</div>\n</div> \n</div>\n<span style=\"font-size:25px\">\"Hi, I am Srijani Bhattacharjee Currently in my 3rd year of graduation. This is my first time making of a visual dashboard and i am very excited to \nlearn new things especially regarding new technology. I am grateful to the smartbridge IBM Platform for giving us this oppurtunity to learn and showcase our skills\"</span>  I\n    \n</div>\n<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<p>\n<div class=\"aligned\"> \n<div class=\"container\">\n        <a href><img src=https://media-exp1.licdn.com/dms/image/C5603AQH_KUl0cui7TA/profile-displayphoto-shrink_200_200/0?e=1600300800&v=beta&t=bRMq9EUxLZVDSKgbgQe58OAz2jDCvmeLb05Tm1jdejM  width=\"150\" height=\"150\" class=\"image\" style=\"width:100%\"></a>\n<div class=\"middle\">\n<div class=\"text\">Dhrubajoyti Chatterjee</div>\n</div> \n</div>\n<span style=\"font-size:25px\">\"Hi, I am Dhrubajoyti Chatterjee currently in my 3rd year of graduation. This is my first time making of a visual dashboard and i learned a lot \nof new technology while implementing the project. I am thankful to our mentors Miss Gayathri And Harsh sir for their endless support throughout the endeavour. Hope \nto learn more from this prestigious platform in the near future\"</span>  I\n    </div> \n\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1310,"y":900,"wires":[[]]},{"id":"f7bb56cc.9a8688","type":"ui_template","z":"61854a0a.e76f24","group":"a5e0638.760f6a","name":"bot","order":6,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<center><p>Today, all kinds of businesses use chatbots. And for a good reason.\nChatbots help to generate leads, increase sales, and fully automate customer support. \nThey can really save you hundreds of hours and tons of cash in the long run</p></center><hr>\n\n<center><p>Chatbots work in all business sectors. eCommerce, education, entertainment, public institutions, healthcare, and more.\nThey are also present in instant messaging apps, on landing pages, and within other apps.We are going to find out the basic knowledges \nrelated to covid-19 and food security purposes,which is needed for understanding this project dashboard !</p></center><hr>\n<center><img src=\"https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQGLKourkaomtDSYXQZ2KLFsT4r_H6FjMKuVg&usqp=CAU\" class=\"img-thumbnail\"\n         width=\"240\" height=\"240\"></center>\n         ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1630,"y":760,"wires":[[]]},{"id":"f0b8dd64.8b889","type":"ui_template","z":"61854a0a.e76f24","group":"e31d2e10.991df","name":"Viz1","order":0,"width":"0","height":"0","format":"<!DOCTYPE html> \n<html> \n   \n<head>  \n    <style> \n        .aligned { \n            display: flex; \n            align-items: center; \n        } \n           \n        span { \n            padding: 10px; \n        } \n    </style> \n</head> \n   \n<body> \n<b><h2>VISUALIZATION OF THE DATA</h2></b>\n<h3>Visualization or visualisation is any technique for creating images, diagrams, or animations to communicate a message. Visualization through visual imagery has been an effective way to communicate both abstract and concrete ideas since the dawn of humanity</h3>\n<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<p>\n<div class=\"aligned\"> \n        <a href=\"https://ibb.co/jJ2LscG\"><img src=\"https://i.ibb.co/qJfRVt9/Prod-Vs-Material-detail.png\" alt=\"Prod-Vs-Material-detail\" height=\"250\" width=\"400\"></a>\n\t</a> \n              \n        <span style=\"font-size:25px\">The Following Visual Shows the Proudction Supply And Utilization Of 4 major commodities used in daily life. The Visual Clearly depicts that cereal is mostly used all \nover the world for most of the amenities. The visual also shows net difference visually of the supply and utilization. This data is of a larger period of time.</span> \n    </div> \n<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<p>\n<div class=\"aligned\"> \n        <a href=https://imgbb.com/\"><img src=\"https://i.ibb.co/pwmXbtw/avg-index.png\" alt=\"prod-vs-product\" height=\"250\" width=\"400\"></a>\n              \n        <span style=\"font-size:25px\">As we are mostly relied on the average food price because of huge data availabilty we need to first realize that the average is clearly coser to the actual data\nThe visual shows the Actual Food price index and average thorugh the lockdown period.</span> \n    </div> \n<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<p>\n<div class=\"aligned\"> \n        <a href=\"https://ibb.co/3Tj9FWf\"><img src=\"https://i.ibb.co/51SgjvY/cereals.png\" alt=\"prod-vs-product\" height=\"250\" width=\"400\"></a>\n              \n        <span style=\"font-size:25px\">The Price Index of 4 important commodities are shown using different Index. It can be inferred tghat more or less all the product except for certin period of \ntime. The Later period which is during lockdown it is seen all the price index has reached its tail.</span> \n    </div>\n<p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<p>\n<div class=\"aligned\"> \n        <a href=\"https://ibb.co/qMLB5k4\"><img src=\"https://i.ibb.co/7Jxv42T/lockdown1.png\" alt=\"prod-vs-product\" height=\"250\" width=\"400\"></a>\n              \n        <span style=\"font-size:25px\">The Price index during the lockdown period is of utmost importance hence the following visual depicts the price index from the period of lockdown \nwhich is mid august(taken approx) worldwide. Hence The visual depics the indices price increased suddenly that while it then touched the toe by the end of May 2020</span> \n    </div>  \n</body> \n  \n</html> ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1190,"y":900,"wires":[[]]},{"id":"76bd526b.cc23bc","type":"ui_template","z":"61854a0a.e76f24","group":"eb75b561.e32498","name":"","order":3,"width":"7","height":"12","format":"<!DOCTYPE html> \n<html> \n   \n\n<body>\n<a href=\"https://ibb.co/zmz0d52\">\n<img src=\"https://i.ibb.co/mR3MpBy/PRICE-VS-YEAR.png\" alt=\"PRICE-VS-YEAR\" border=\"0\" height=\"400\" width=\"400\">\n</a>\n<p>The Food Price Index for a given Month of a given\nyear is predicted using this model.</p>\n<p>What does the Value Say?</p>\n<p>The Average as seen is a Value(146) marked in the chart.</p>\n<p>If Predicted Value>Average Value : Supply Production Needs to be Improved to meet demand. </p>\n<p>If PredictedValue=Average Value : Supply Production And Utilization is balanced</p>\n<p>If Predicted Value< Average Value : Supply is enough but utilization needs to increase</p>\n<p>Note: Give The Year Format as YEAR-MONTH For Example to write\nAugust 2016 specify 201608</p>\n</body>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1680,"y":500,"wires":[[]]},{"id":"eb75b561.e32498","type":"ui_group","z":"","name":"","tab":"ffed59f.72531a8","order":1,"disp":true,"width":"8","collapse":false},{"id":"c45c286e.f707a8","type":"ui_group","z":"","name":"","tab":"dc208949.8eb938","order":1,"disp":true,"width":"6","collapse":false},{"id":"1874555d.1562cb","type":"ui_group","z":"","name":"","tab":"776b0c7e.40fd34","order":1,"disp":true,"width":"12","collapse":false},{"id":"c814d9ce.b291e8","type":"ui_group","z":0,"name":"","tab":"31d223c4.e65b6c","order":1,"disp":true,"width":"12","collapse":false},{"id":"e4ad922a.a1eba","type":"ui_group","z":0,"name":"","tab":"f4d0bc32.4fefd","order":2,"disp":true,"width":"12","collapse":false},{"id":"a5e0638.760f6a","type":"ui_group","z":0,"name":"","tab":"dc208949.8eb938","order":2,"disp":true,"width":"6","collapse":false},{"id":"e31d2e10.991df","type":"ui_group","z":0,"name":"","tab":"a1060ec8.68e0f","order":1,"disp":true,"width":"12","collapse":false},{"id":"ffed59f.72531a8","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"dc208949.8eb938","type":"ui_tab","z":0,"name":"Chatbot","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"776b0c7e.40fd34","type":"ui_tab","z":0,"name":"Introduction","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"31d223c4.e65b6c","type":"ui_tab","z":0,"name":"Overview","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"f4d0bc32.4fefd","type":"ui_tab","z":0,"name":"About Us","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"a1060ec8.68e0f","type":"ui_tab","z":0,"name":"Visualization","icon":"dashboard","order":4,"disabled":false,"hidden":false}]